<fm-header></fm-header>
<fm-aside></fm-aside>
<fm-nav></fm-nav>
<!--<fm-settings></fm-settings>-->

<main>
    <router-outlet></router-outlet>
</main>

<footer class="footer">
    <div class="m-ft">
        <p><a href="mailto:nehzwd@163.com?subject=To NEC Team">意见反馈</a>|<a href="http://hr.163.com/getPositionById.do?rms=1&amp;id=236" target="_blank">加入我们</a>|<a href="http://nej.netease.com" target="_blank">更好的JS解决方案</a></p>
        <p>Copyright © 1997-2013 NetEase. All Rights Reserved. </p>
    </div>
</footer>